{% extends 'base.html' %}
{% block b1 %}   
    <form action="" method="post"novalidate>
        {% csrf_token %}
         <div class="form-group row">
            {% for i in form %}
                <label class="col-sm-1 offset-sm-5 col-form-label"  for="">{{i.label_tag}}</label>
                <div class="col-sm-1">{{i}}{{i.errors|striptags}}</div>
            {% endfor %}
         </div>
        <!-- {{form.as_p}} -->
       <div  class="col-sm-2 offset-sm-6"><input class="btn btn-success" type="submit" value="SUBMIT"></div>
    </form>
{% endblock  %}
